  <footer>
  <div class="row">
    <div class="col span-1-of-4">
      <ul>
        <li>RESOURCES</li>
        <br>
        <li><a href="#">About</a></li>
        <li><a href="#">Resource Listing</a></li>
        <li><a href="#">Press Kit</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
    <div class="col span-1-of-4">
      <ul>
          <li>HELP</li>
          <br>
          <li><a href="#">Stack Overflow</a></li>
          <li><a href="#">Gitter</a></li>
          <li><a href="#">Report Issues</a></li>
          <li><a href="#">Code of Conduct</a></li>
      </ul>
    </div>
    <div class="col span-1-of-4">
      <ul>
          <li>COMMUNITY</li>
          <br>
          <li><a href="#">Events</a></li>
          <li><a href="#">Meetups</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Github</a></li>
          <li><a href="#">Contribute</a></li>
      </ul>

    </div>
    <div class="col span-1-of-4">
      <ul>
          <li>LANGUAGES</li>
          <br>
          <li><a href="#">한국어</a></li>
          <li><a href="#"> 中國語</a></li>
      </ul>
    </div>
  </div>
  <div class="license">
      <p>
          Powered by Google ©2010-2018. Code licensed under an MIT-style License. Documentation licensed under CC BY 4.0.
      </p>
      <p>
          Version 6.1.10-build.50301+sha.3b4d9dc.
      </p>
    </div>
</footer>
