<footer>
  <div class="container p-5">
    <div class="row">
      <div class="col">

        <div class="row">
          <div class="col-12">
            <h5 class="text-white">Resources</h5>
          </div>
          <div class="col-12">
            <a href="#">Dashboard</a>
          </div>
          <div class="col-12">
            <a href="#">Dashboard</a>
          </div>
          <div class="col-12">
            <a href="#">Dashboard</a>
          </div>
        </div>

      </div>

      <div class="col">
        <div class="row">
          <div class="col-12">
            <h5 class="text-white">Resources</h5>
          </div>
          <div class="col-12">
            <a href="#">Dashboard</a>
          </div>
          <div class="col-12">
            <a href="#">Dashboard</a>
          </div>
          <div class="col-12">
            <a href="#">Dashboard</a>
          </div>
        </div>
      </div>

    </div>
    <div class="license">
      <p>
        Powered by Google ©2010-2018. Code licensed under an MIT-style License. Documentation licensed under CC BY 4.0.
      </p>
      <p>
        Version 6.1.10-build.50301+sha.3b4d9dc.
      </p>
    </div>
  </div>
</footer>
