<div fxLayoutAlign="center center" style="padding-top: 4rem">
  <h6 class="display-4">Welcome to JSONx!</h6>
</div>
<div class="container" fxLayout="row" style="margin-top: 1%; margin-bottom: 3%">
  <div class="row">
    <div class="col">
      <mat-card class="bg-transparent h-100 p-0" style="width: 140%; margin-left: 20%">
          <mat-toolbar class="mat-accent text-white"><a [routerLink]="['/json']" class="to-my-json">Your JSONs</a></mat-toolbar>
        <mat-card-content class="p-4" style="text-align: center; white-space: nowrap">
          <div class="row align-items-center">
            <div class="col">
              <h6>Owned JSONs</h6>
              </div>
            <div class="col">
              <h6>Shared JSONs</h6>
            </div>
            <div class="col">
              <h6>Accessible JSONs</h6>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col">
              {{profile.owned_json_count}}
            </div>
            <div class="col">
              {{profile.shared_json_count}}
            </div>
            <div class="col">
              {{profile.json_count}}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="bg-transparent h-100 p-0" style="width: 140%; margin-left: 70%">
        <mat-toolbar class="mat-accent text-white"><a class="to-your-team" [routerLink]="['/team']">Your Teams</a></mat-toolbar>
        <mat-card-content class="p-4" style="text-align: center; white-space: nowrap">
          <div class="row align-items-center">
            <div class="col">
              <h6>Owned</h6>
            </div>
            <div class="col">
              <h6>Member of</h6>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col">
              {{owned}}
            </div>
            <div class="col">
              {{member}}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<mat-card class="bg-transparent h-100 px-4">
  <mat-card-header>
    <mat-card-title><h6 class="color-theme-main mat-display-1" style="margin: 0">Explorer Access for All</h6></mat-card-title>
    <mat-card-subtitle><h5>{{date1}}</h5></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <p *ngIf="isActive"><li *ngFor = "let news of newslists1">{{news | summary: maxLength}}<button *ngIf="news.length>maxLength" (click)="onClick()" class = "summaryBtn">. . . click to expend</button></li>
      </p>
      <p *ngIf="!isActive">
      <li *ngFor = "let news of newslists1">{{news}}<button *ngIf="news.length>maxLength" (click)="onClick()" class = "summaryBtn"> click to collapse</button></li>
      </p>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card class="bg-transparent h-100 px-4">
  <mat-card-header>
    <mat-card-title><h6 class="color-theme-main mat-display-1" style="margin: 0">JSONx News</h6></mat-card-title>
    <mat-card-subtitle><h5>{{date}}</h5></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <ul>
        <p *ngIf="isActive"><li *ngFor = "let news of newslists">{{news | summary: maxLength}}<button *ngIf="news.length>maxLength" (click)="onClick()" class = "summaryBtn">. . . click to expend</button></li>
        </p>
        <p *ngIf="!isActive">
            <li *ngFor = "let news of newslists">{{news}}<button *ngIf="news.length>maxLength" (click)="onClick()" class = "summaryBtn"> click to collapse</button></li>
        </p>
      </ul>
  </mat-card-content>
</mat-card>


