<div class="container center " fxLayout="row" fxLayoutAlign="center center">
  <div class="row align-items-center">
    <div class="col">
      <mat-card class="bg-transparent h-100 px-4">
        <mat-card-header>
          <mat-card-title><h6 class="color-theme-main">Your JSONs</h6></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row align-items-center">
            <div class="col">
                Total JSONs
              </div>
            <div class="col">
                Shared JSONs
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="bg-transparent h-100 px-4">
        <mat-card-header>
          <mat-card-title><h6 class="color-theme-main">Your Teams</h6></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row align-items-center">
            <div class="col">
                Owned
            </div>
            <div class="col">
                Member of
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

