<div class="row h-100 p-2">

  <div class="col-12">
    <mat-card class="p-0 mb-2">
      <mat-toolbar class="mat-accent text-white">
        <button mat-raised-button class="mx-2" color="primary" (click)="clearJson()">
          <mat-icon>refresh</mat-icon>Clear
        </button>
        <button mat-raised-button class="mx-2" color="primary" (click)="openSaveJsonDialog()" [disabled]="disableSave">
          <mat-icon>add</mat-icon>Save
        </button>
        <button mat-raised-button class="mx-2" color="primary" (click)="openUpdateJsonDialog()" [disabled]="disableUpdate">
          <mat-icon>update</mat-icon>Update
        </button>
        <span class="fill-remaining-space"></span>
        <h2>{{ dataService.hasData ? dataService.json.title : (defaultJson ? "Demo JSON": "") }}</h2>
      </mat-toolbar>
    </mat-card>
  </div>

  <div class="col-12 col-sm-6 h-100">
    <mat-card class="h-100">
      <ngx-monaco-editor class="editor-container" [options]="options" [(ngModel)]="jsonEditor"></ngx-monaco-editor>

    </mat-card>
  </div>

  <div class="col-12 col-sm-6">
    <mat-card class="h-100">
      <ngx-json-viewer [json]="json" [expanded]="true"></ngx-json-viewer>
    </mat-card>
  </div>

</div>
