.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.
  Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.bg-transparent {
  background: none;
}

.fixed-bar {
  z-index: 999;
  position: fixed;
}
