<div class="container">

  <h2 mat-dialog-title class="text-center">Delete JSON: {{json.title}}</h2>
  <p>Confirm you want to remove this JSON by typing its name, <strong>{{json.title}}</strong>, below.</p>
  <p>This action is <strong>permanent</strong> and cannot be undone.</p>

  <div mat-dialog-content style="max-height: 400px;">
    <div class="row">
      <div class="col">
        <form [formGroup]="deleteJsonForm" fxFlex fxLayout="column" fxLayoutAlign="center stretch" class="pt-2">
          <mat-form-field>
            <input matInput placeholder="JSON" formControlName="json">
            <mat-error *ngIf="deleteJsonForm.controls['json'].hasError('required')">
              JSON is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>

  <mat-dialog-actions>
    <div class="row m-0 w-100">
      <div class="col-6 pl-0">
        <button class="mat-raised-button w-100" (click)="cancel()">Cancel</button>
      </div>
      <div class="col-6 pr-0">
        <button class="mat-raised-button mat-warn w-100" (click)="deleteJson()" [disabled]="deleteJsonForm.controls['json'].value !== json.title">Delete</button>
      </div>
    </div>
  </mat-dialog-actions>

</div>
